.profilePic {
    max-width: 100px;
    display: none;
}

.profileWrapper {
    /* padding: 5px; */
    color: #333;
}

.disabledLink {
    text-decoration: line-through;
}

.profileDropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    /* padding: 12px 16px; */
    z-index: 10;
    /* margin-top: 5px; */
}

.profileWrapper:hover .profileDropdown {
    display: block;
}

/* 
span {
  display: block;
  align-self: center;
  cursor: pointer;
  padding: 5px 10px;
}

span {
  display: block;
  align-self: center;
  cursor: pointer;
  padding: 5px 10px;
  color: yellowgreen;
}
*/