.autoGetON {
    background-color: rgb(122, 206, 114);
}

.autoGetOFF {
    background-color: rgb(203, 22, 22);
}

.messageWrap {
    padding: 2em;
    display: flex;
    flex-direction: column-reverse;
}

.inputAreaWrap {
    margin: 2em;
}