.section {
    display: grid;
    grid-template-columns: auto 55% auto;
}

.emty {
    background-color: #edefef;
}

.userDiv {
    border: solid 2px grey;
    border-radius: 15px;
}

.imageUser {
    max-width: 100px;
}

