/*mobile*/
/*.myDIV {
    height: 300px;
    display: grid;
    gap: 10px;
    background: whitesmoke;
    padding: 10px;
    grid-template-areas: 'myArea myArea .' 'myArea myArea .';
}*/

/*.myDIV div {
!*    background-color: rgba(255, 255, 255, 0.8);*!
    text-align: center;
!*    padding: 20px 0;*!
!*    font-size: 30px;*!
}

.item1 {
    grid-area: myArea;
}*/

.section {
    border-radius: 12px;
    padding: 5px;
/*    background-color: chocolate;*/
    text-align: center;
    margin: auto auto 70px auto;
    color: black;
}

/*.userDiv {
    border: solid 2px grey;
    border-radius: 15px;
    margin-top: 50px;
    background: whitesmoke;

}*/

.imageUser {
    max-width: 50%;

}
/*.grid-container{
    border-radius: 12px;
    padding: 5px;
    background-color: chocolate;
    text-align: center;
    margin: auto auto 70px auto;
    color: black;
}*/

/*tablet*/

/*desktop*/
