/*Mobile*/
.nav {
    background-color: #eda2a1;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:  flex;
    
}

.ul {
    list-style-type: none;
    margin: 0;
    /* padding: 0 20px 0; */
    width: 100%;
    justify-items: center;
    position: flex;
    justify-items: flex-end;
}

/* .li {
    float: left;
    padding: 0 20px 0 0;
} */

li a {
    color: white;
    text-align: center;
    /* padding: 10px; */
    text-decoration: none;
}

li a:hover:not(.active) {
    border-bottom: 1px solid white;
    color: darkslategrey;
}

.liLast {
    /* margin: auto;
    place-self: flex-end; */
}

/*Tablet*/

/*Desktop*/
@media screen and (min-width: 1200px) {
    .nav {
        background-color: #eda2a1;
        margin: 100px 0;
        padding: 15px;
    }
    li {
        float: left;
    }
    a {
        display: block;
        padding: 8px;
        background-color: #eda2a1;
    }
}