/*Mobile*/
.nav {
    background-color: #eda2a1;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0 20px 0;
}

.li {
    float: left;
    padding: 0 20px 0 0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover:not(.active) {
    border-bottom: 1px solid white;
    color: darkslategrey;
}

li:last-child {
    place-self: flex-end;

}

/*Tablet*/

/*Desktop*/
@media screen and (min-width: 1200px) {
    .nav {
        background-color: #eda2a1;
        margin: 100px 0;
        padding: 15px;
    }
    li {
        float: left;
    }
    a {
        display: block;
        padding: 8px;
        background-color: #eda2a1;
    }
}